.menu {
    float: left;
    width: 220px;
    border-right: 1px solid #e5e5e5;
    height: 100vh;
    background-color: #ffffff;
}

    .menu .menu-logo {
        width: 100%;
        height: 61px;
        display: flex;
        align-items: center;
    }

        .menu .menu-logo .toggle-icon {
            width: 24px;
            height: 24px;
            background-image: url(/public/img/toggle.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 16px;
            cursor: pointer;
        }

        .menu .menu-logo .amis-logo {
            width: 100px;
            height: 24px;
            background-image: url(/public/img/cukcuk-logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-position-x: 0px;
            margin-left: 10px;
            cursor: pointer;
        }

    .menu .menu-content {
        width: 100%;
        height: calc(100vh - 61px);
    }

        .menu .menu-content .option-menu {
            width: 100%;
            height: 44px;
            background-color: #ffffff;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .menu .menu-content .option-menu:focus {
            background-color: #019160;
        }

        .menu .menu-content .option-menu:hover {
            background-color: #e5e5e5;
        }

            .menu .menu-content .option-menu .icon-option {
                width: 24px;
                height: 24px;
                margin-left: 16px;
            }

            .menu .menu-content .option-menu:nth-child(1) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/dashboard.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu:nth-child(2) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/report.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu:nth-child(3) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/dashboard.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu:nth-child(4) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/dic-employee.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu:nth-child(5) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/dic-employee.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu:nth-child(6) > .icon-option:nth-child(1) {
                background-image: url(/public/icon/setting.png);
                background-size: contain;
            }

            .menu .menu-content .option-menu .option-content {
                height: 24px;
                margin-left: 10px;
                line-height: 24px;
            }