.tdb-dialog {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
}

    .tdb-dialog .dialog-modal {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    .tdb-dialog .dialog-form {
        position: absolute;
        top: 24px;
        left: calc((100% - 900px)/2);
        width: 800px;
        height: calc(100% - 48px);
        background-color: #ffffff;
        margin: auto 0px;
        border-radius: 4px;
        overflow: hidden;
    }

        .tdb-dialog .dialog-form .dialog-header {
            height: 50px;
        }

            .tdb-dialog .dialog-form .dialog-header .dialog-title {
                margin-left: 18px;
                font-size: 20px;
                margin-top: 20px;
                float: left;
            }

            .tdb-dialog .dialog-form .dialog-header .cancel-dialog {
                width: 40px;
                height: 40px;
                cursor: pointer;
                border: none;
                background-color: #ffffff;
                outline: 0;
                float: right;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .tdb-dialog .dialog-form .dialog-header .cancel-dialog:hover {
                    background-color: #E5E5E5;
                }

                .tdb-dialog .dialog-form .dialog-header .cancel-dialog .icon-cancel {
                    width: 20px;
                    height: 20px;
                }

            .tdb-dialog .dialog-form .dialog-body {
                height: calc(100% - 110px);
            }   

                .tdb-dialog .dialog-form .dialog-body .left {
                    width: 190px;
                    height: 100%;
                    margin-left: 18px;
                    float: left;
                }

                    .tdb-dialog .dialog-form .dialog-body .left .avatar {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-top: 0px;
                    }

                        .tdb-dialog .dialog-form .dialog-body .left .avatar .avatar-img {
                            width: 190px;
                            height: 190px;
                            border: 1.5px solid #BBBBBB;
                            border-radius: 50%;
                            overflow: hidden;
                        }

                            .tdb-dialog .dialog-form .dialog-body .left .avatar .avatar-img > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                    
                    .tdb-dialog .dialog-form .dialog-body .left .avatar .discription-type-avatar {
                        width: 100%;
                        text-align: center;
                    }

                .tdb-dialog .dialog-form .dialog-body .right .dialog-body-top {
                    width: 100%;
                    height: 50%;
                }

                .tdb-dialog .dialog-form .dialog-body .right {
                    width: calc(100% - 190px - 3*18px);
                    margin-left: 18px;
                    height: 100%;
                    float: left;
                    border: 1px solid red;
                }       
                    .tdb-dialog .dialog-form .dialog-body .right .info-type > div{
                        border: 2px solid #019160;
                        width: 70px;
                    }
                        .tdb-dialog .dialog-form .dialog-body .right .input-dialog {
                            width: calc((100% - 10px - 2px)/2);
                            float: left;
                            margin-top: 15px;
                        }

                            .tdb-dialog .dialog-form .dialog-body .right .input-dialog:nth-child(even) {
                                margin-left: 10px;
                            }

                                .tdb-dialog .dialog-form .dialog-body .right .input-dialog > p {
                                    font-size: 16px;
                                }

                                .tdb-dialog .dialog-form .dialog-body .right .input-dialog > input {
                                    width: calc(100% - 16px);
                                    padding-left: 16px;
                                    height: 35px;
                                    border-radius: 4px;
                                    border: 1px solid #BBBBBB;
                                    outline: none;
                                }
                                    
                                    .tdb-dialog .dialog-form .dialog-body .right .input-dialog > input:focus {
                                        border-color: #019160;
                                    }

                                    .tdb-dialog .dialog-form .dialog-body .right .input-dialog .customer-group-list {
                                        width: 100%;
                                        height: 35px;
                                    }
        
                                    .tdb-dialog .dialog-form .dialog-body .right .input-dialog .customer-group-list .tdb-value-of-dropdown {
                                        line-height: 35px;
                                    }

                        .tdb-dialog .dialog-form .dialog-body .right .general-info {
                            width: 100%;
                            height: 100%;
                        }

                    .tdb-dialog .dialog-form .dialog-body .right .dialog-body-bottom {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                        .tdb-dialog .dialog-form .dialog-body .right .dialog-body-bottom .work-info {
                            width: 100%;
                            height: 100%;
                        }

            .tdb-dialog .dialog-form .dialog-bottom {
                height: 60px;
                width: 100%;
                background-color: #E5E5E5;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .tdb-dialog .dialog-form .dialog-bottom .cancel-dialog{
                background-color: #E5E5E5;
            }

            .tdb-dialog .dialog-form .dialog-bottom .cancel-dialog:hover {
                background-color: #F65454;
                color: white;
                transition: 0.2s;
            }

            .tdb-dialog .dialog-form .dialog-bottom .save-dialog{
                font-weight: bold;
                background-color: #019160;
                color: white;
                background-image: url(/public/icon/save.svg);
                background-repeat: no-repeat;
                background-size: auto 50%;
                background-position: 20px 50%;
                padding-left: 20px;
                padding-top: 2px;
            }

            .tdb-dialog-button {
                width: 100px;
                height: 40px;
                margin-right: 18px;
                border-radius: 4px;
                border: none;
                outline: none;
                cursor: pointer;
            }

    