/*
*
Tạo Dropdown 
*
*/
/* Begin */
.tdb-dropdown {
    width: 250px;
    height: 40px;
    border: none;
    position: relative;
}
    .tdb-dropdown .tdb-value-of-dropdown {
        max-width: 100%;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 66px;
        line-height: 40px;
        border: 1px solid #BBBBBB;
        background-image: url(/public/icon/btn-dropdown.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position-y: 50%;
        background-position-x: calc(100% - 12px);
    }

    .tdb-dropdown .tdb-list-option {
        width: 100%;
        position: absolute;
        top: calc(100% + 4px);
        left: 0px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px #E9EBEE;
        height: 0px;
        overflow: hidden;

    }

        .tdb-dropdown .tdb-list-option .tdb-option {
            height: 40px;
            padding-left: 52px;
            padding-right: 16px;
            line-height: 40px;
            cursor: pointer;
            border-bottom: 1px solid #BBBBBB;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background-image: url(/public/icon/tick.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position-y: 50%;
            background-position-x: calc(10px);
        }

        .tdb-dropdown .tdb-list-option .tdb-option:last-child {
            border-bottom: none;
        }

        .tdb-dropdown .tdb-list-option .tdb-option:hover {
            background-color: #E9EBEE;
        }

.tdb-dropdown:hover > .tdb-list-option{
    height: auto;
}
/* End */


/*
*
Tạo Button 
*
*/
/* Begin */
.tdb-button {
    height: 40px;
    /* width: 170px; */
    background-color: #019160;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.tdb-button:hover {
    background-color: #2FBE8E;
}

    .tdb-button .button-icon {
        width: 20px;
        height: 20px;
        margin-left: 16px;
        background-image: url(/public/icon/add.png);
        background-size: contain;
    }

    .tdb-button .content-icon {
        color: white;
        margin-left: 8px;
        padding-right: 16px;
    }
/* End */

/*
*
Tạo Input 
*
*/
/* Begin */
.tdb-input {
    width: 150px;
    padding-left: 40px;
    padding-right: 10px;
    background-image: url(/public/icon/search.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 12px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    outline: none;
    font-style: Google-Regular;
}

    .tdb-input::placeholder {
        color: #bbbbbb;
    }
/* End */

/*
*
Tạo Arrow Button
*
*/
/* Begin */
.arrow-button {
    width: 30px;
    height: 30px;
    background-image: url(/public/icon/btn-next-page.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    outline: none;
}
/* End */
