/*
*
*Tạo Dropdown có cấu trúc như sau
<div class="tdb-dropdown restaurant-list">
    <div id="tdb-display-option-restaurant" class="tdb-value-of-dropdown"></div>
    <div class="tdb-list-option">
        <div class="tdb-option restaurant-name">
            <div class="tdb-icon"></div>
            <div class="tdb-content">Nhà hàng biển đông</div>
        </div>
        <div class="tdb-option restaurant-name">
            <div class="tdb-icon"></div>
            <div class="tdb-content">Nhà hàng biển tây</div>
        </div>
        ....
    </div>
</div>
*CreatedBy: Trần Duy Bá
*
*/
/* Begin */
.tdb-dropdown {
    width: 250px;
    height: 40px;
    border: none;
    position: relative;
}
    .tdb-dropdown .tdb-value-of-dropdown {
        max-width: 100%;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 66px;
        line-height: 40px;
        border: 1px solid #BBBBBB;
        background-image: url(/public/icon/btn-dropdown.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position-y: 50%;
        background-position-x: calc(100% - 12px);
        background-color: white;
    }

    .tdb-dropdown .tdb-list-option {
        width: 100%;
        position: absolute;
        top: calc(100% + 4px);
        left: 0px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px #BBBBBB;
        height: 0px;
        overflow: hidden;
        z-index: 6969;

    }

        .tdb-dropdown .tdb-list-option .tdb-option {
            height: 40px;
            cursor: pointer;
            border-bottom: 1px solid #BBBBBB;
            max-width: 100%;
            display: flex;
            align-items: center;
            /* background-color: #019160; */
        }

            .tdb-dropdown .tdb-list-option .tdb-option .tdb-icon{
                width: 18px;
                height: 18px;
                margin-left: 10px;
                margin-right: 10px;
                /* background-image: url(/public/icon/tick.svg); */
                background-repeat: no-repeat;
                background-size: contain;
            }

            .tdb-dropdown .tdb-list-option .tdb-content {
                max-width: calc(100% - 54px);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

        .tdb-dropdown .tdb-list-option .tdb-option:last-child {
            border-bottom: none;
        }

        .tdb-dropdown .tdb-list-option .tdb-option:hover {
            background-color: #E9EBEE;
        }

.tdb-dropdown:hover > .tdb-list-option{
    height: auto;
}
/* End */


/* ----------------------------------------------------------------------------------------------------- 
*
*Tạo Button 
*CreatedBy: Trần Duy Bá
*
*--->Begin */
.tdb-button {
    height: 40px;
    /* width: 170px; */
    background-color: #019160;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.tdb-button:hover {
    background-color: #2FBE8E;
}

    .tdb-button .button-icon {
        width: 20px;
        height: 20px;
        margin-left: 16px;
        background-image: url(/public/icon/add.png);
        background-size: contain;
    }

    .tdb-button .content-icon {
        color: white;
        margin-left: 8px;
        padding-right: 16px;
    }
/* End */
/* ----------------------------------------------------------------------------------------------------- */
/*
*
Tạo Input 
*
*/
/* Begin */
.tdb-input {
    width: 150px;
    padding-left: 40px;
    padding-right: 10px;
    background-image: url(/public/icon/search.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 12px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    outline: none;
    font-style: Google-Regular;
}

    .tdb-input::placeholder {
        color: #bbbbbb;
    }
/* End */
/* ----------------------------------------------------------------------------------------------------- */
/*
*
Tạo Arrow Button
*
*/
/* Begin */
.arrow-button {
    width: 30px;
    height: 30px;
    background-image: url(/public/icon/btn-next-page.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    outline: none;
}
/* End */
/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- 
*
*Tạo Radio Button
<div class="tdb-radio" >
    <p>Nam</p>      <!--Content-->
    <div>
        <input type="radio" name="gender" value="0"/>
        <span></span>
    </div>
</div>
*CreatedBy: Trần Duy Bá
*
*--->Begin */
    .tdb-radio {
        display: inline-block;
    }   

        .tdb-radio > p {
            float: left;
        }

        .tdb-radio > div {
            float: left;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #019160;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            position: relative;
        }

            .tdb-radio > div > input {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
            }

            .tdb-radio > div > input:checked + span {
                display: block;
            }

            .tdb-radio > div > span {
                display: none;
                width: 70%;
                height: 70%;
                background-color:#019160;
                border-radius: 50%;
                position: absolute;
                top: 15%;
                left: 15%;
            }
/* End */
